.modal-footer {
  padding: 5px;
}

.modal-content {
  background-color: #f1ead4;
}

.bgcolour{
  background-color: #17a2b8;
  border-color: #17a2b8;
  color: #fff;
}

.borderColour {
  border-color: #17a2b8;
}
